.pic1{
  width: 100px;
}





/* Стилі за замовчуванням (для всіх пристроїв) */

/* Стилі для телефона */
@media only screen and (max-width: 767px) {
    /* Наприклад, зміна розміру та шрифту для мобільних пристроїв */
    body {
      font-size: 14px;
    }
    /* Інші стилі, які ви бажаєте застосувати для телефона */
  }
  
  /* Стилі для планшета */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Наприклад, зміна розміру контенту для планшетних пристроїв */
    body {
      font-size: 16px;
    }
    /* Інші стилі, які ви бажаєте застосувати для планшета */
  }
  
  /* Стилі для комп'ютера */
  @media only screen and (min-width: 1025px) {
    /* Наприклад, зміна розміру та стилю контенту для комп'ютера */

    body {
      
      font-size: 25px;}}



body{
  background-color: aquamarine;
}

.text1{
  color: crimson;
}

.text1:hover{
  color: black;
}